@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.heading {
  color: white;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.heading-title {
  flex: 1;
  text-align: center;
}

.main_cointaner {
  margin-top: 50px;
  height: 100%;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.quotes_container {

  position: relative;
  border: 1px solid rgb(247, 244, 244);
  border-radius: 10px;
  height: auto;
  max-height: 700px;
  width: 70%;
  padding: 10px;
  overflow-y: auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.dropdown_for_category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-size: 30px;
  gap: 15px;
  width: 100%;
}
.subheading {
  display: flex;
  width: 100%;
  max-width: 50%;
  gap: 15px;
}
#category,
#dark-mode-toggle {
  width: 100%;
  padding: 10px;
  font-size: 25px;
}
#quotes {
  margin-top: 200px;
  padding: 10px;
  font-size: 20px;
  height: 100px;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 190px;
  gap: 15px;
}
#previous-btn {
  background-color: blue;
  font-size: 20px;
  padding: 4px;
  border-radius: 4px;
  color: white;
  border: none;
  width: 100px;
  text-align: center;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.5s ease;
}
#previous-btn:hover {
  transform: scale(1.1);
}

#next-btn {
  background-color: blue;
  font-size: 20px;
  padding: 4px;
  border-radius: 4px;
  color: white;
  border: none;
  width: 100px;
  text-align: center;
  cursor: pointer;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
}
#next-btn:hover {
  transform: scale(1.1);
}
#random-btn {
  transition: transform 0.5s ease;

  cursor: pointer;
  background-color: blue;
  font-size: 20px;
  padding: 4px;
  border-radius: 4px;
  color: white;
  border: none;
  width: 100px;
  text-align: center;
  cursor: pointer;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
}
#random-btn:hover {
  transform: scale(1.1);
}

#dark-mode-toggle {
  transition: transform 0.5s ease;

  cursor: pointer;
  background-color: blue;
  font-size: 20px;
  padding: 4px;
  border-radius: 4px;
  color: white;
  border: none;
  width: 100px;
  text-align: center;
  cursor: pointer;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
}

.dark-mode {
  background-color: #141313;
  color: #fff;
}

#category {
  font-size: 15px;
  padding: 2px;
}

.inc-dre-btn {
  position: absolute;
  right: 18px;
  display: flex;
  gap: 10px;
  bottom: 100px;
}
#increment {
  border-radius: 100%;
  padding: 15px;
  transition: transform 0.5s ease;
  background-color: blue;
  color: #fff;
  border: #fff;
}
#decrement {
  background-color: blue;
  color: #fff;
  border: #fff;
  border-radius: 100%;
  padding: 15px;
  transition: transform 0.5s ease;
}
#increment:hover {
  transform: scale(1.1);
}
#decrement:hover {
  transform: scale(1.1);
}

@media (max-width: 480px) {
  body {
    overflow: hidden;
  }
  .heading {
    color: white;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    box-sizing: border-box;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  .heading-title {
    flex: 1;
    text-align: center;
  }
  .dropdown_for_category {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
    gap: 15px;
    width: 100%;
  }
  .subheading {
    display: flex;
    width: 100%;
    max-width: 90%;
    gap: 10px;
  }
  .main_cointaner {
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .quotes_container {
    position: relative;
    border: 1px solid gray;
    border-radius: 10px;
    height: auto;
    max-height: 500px;
    width: 70%;
    padding: 10px;
    overflow-y: auto;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  .dropdown_for_category {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 15px;
    gap: 15px;
  }
  #quotes {
    margin-top: 80px;
    padding: 10px;
    font-size: 15px;
    height: 100px;
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 15px;
  }
  #previous-btn {
    background-color: blue;
    font-size: 15px;
    padding: 4px;
    border-radius: 4px;
    color: white;
    border: none;
    width: 100px;
    text-align: center;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.5s ease;
  }
  #previous-btn:hover {
    transform: scale(1.1);
  }

  #next-btn {
    background-color: blue;
    font-size: 15px;
    padding: 4px;
    border-radius: 4px;
    color: white;
    border: none;
    width: 100px;
    text-align: center;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
  }
  #next-btn:hover {
    transform: scale(1.1);
  }
  #random-btn {
    transition: transform 0.5s ease;

    cursor: pointer;
    background-color: blue;
    font-size: 15px;
    padding: 4px;
    border-radius: 4px;
    color: white;
    border: none;
    width: 100px;
    text-align: center;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
  }
  #random-btn:hover {
    transform: scale(1.1);
  }
  .dropdown_for_category {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 25px;
    font: bold;
    width: 100%;
    margin-bottom: 20px;
  }
  #dark-mode-toggle {
    transition: transform 0.5s ease;
    cursor: pointer;
    background-color: blue;
    font-size: 15px;
    padding: 4px;
    border-radius: 4px;
    color: white;
    border: none;
    width: 100px;
    text-align: center;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  }

  .dark-mode {
    background-color: #141313;
    color: #fff;
  }
}
